.container {
    display: flex;
    align-items: center;
    height: 550px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: seagreen;
    width: 350px;
    padding: 5px;
    border-radius: 20px;
    border: 5px solid black;
}
h1 {
    font-family: cursive;
}
body {
    display: flex;
    align-items: center;
    height: 700px;
    justify-content: center;
    flex-wrap: wrap;
}
tr {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    background-color: #294B29;
    color: #DBE7C9;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px outset #789461;
}
button:hover {
    background-color: #9BCF53;
    color: black;
}
#cope {
    background-color: #9BCF53;
    color: black;
}
#cope:hover {
    background-color: #12372A;
    color: white;
}
#number-input {
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    width: 210px;
    font-family: "Lucida Console", Courier, monospace;
    text-align: end;
    border: 2px outset #DDFFBB;
}
#operation-input {
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    width: 50px;
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
    border: 2px outset #DDFFBB;
}
#previous {
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    width: 270px;
    font-family: "Lucida Console", Courier, monospace;
    text-align: end;
    border: 2px outset #DDFFBB;
}